//-
//- MAIN NAVIGATION
//- ===============
//-

nav#navigation.main-navigation.js-main-navigation(role='navigation', aria-label='Primary Navigation')
  h2.hidden Primary Navigation
  ul
    li
      a(href='/') Nav Item 1
    li
      a(href='/') Nav Item 2
