//
// GRID
// ====
// https://github.com/clocklimited/responsive-grid
//


//
// BASE GRID STYLES
//

grid-base()


grid-modifier('gutterless', 0)

//
// GRID WIDTHS
//

grid-widths('', 3)

+width-min($mq--tablet)
  grid-widths('tablet-', 2 3)

+width-min($mq--desktop)
  grid-modifier('desktop-wide', 80px)
  grid-widths('desktop-', 2 3)
