section.widget.widget--useful-reading
  .section
    .container

      .widget__header
        h1.section__title.section__title--alt--desktop Contact Us

      .widget__content
        .prose.prose--text-centered--tablet.prose--narrow
          p You can contact us using the following methods

        ul.list--unstyled.file-list
          li 555-5555
          li
            a(href='mailto:hello@clock.co.uk') hello@clock.co.uk
