extend /default

block page-header

  h1.section__title Looks like there’s a problem

block content
  .section
    .container
      .prose.prose--page-centered.prose--text-centered

        p We’re sorry but we couldn’t find the page you were looking for.

        p Please try another address or go to the 
          a(href='/') homepage
          | .
